---
permalink: /install/
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Moved to /start/ &mdash; Parachute Computer</title>
    <meta http-equiv="refresh" content="0; url=/start/">
    <link rel="canonical" href="/start/">
    <meta name="robots" content="noindex">
</head>
<body>
    <p>This page is now at <a href="/start/">parachute.computer/start</a>. Redirecting&hellip;</p>
</body>
</html>
