---
permalink: /onboarding/vault-setup/
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Set up your vault &mdash; Parachute</title>
    <meta http-equiv="refresh" content="0; url=/vault/">
    <link rel="canonical" href="https://parachute.computer/vault/">
    <meta name="robots" content="noindex">
</head>
<body>
    <p>Setting up your vault now lives at <a href="/vault/">parachute.computer/vault</a>. Redirecting&hellip;</p>
</body>
</html>
