---
permalink: /onboarding/surface-build/
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Build a surface &mdash; Parachute</title>
    <meta http-equiv="refresh" content="0; url=/surfaces/">
    <link rel="canonical" href="https://parachute.computer/surfaces/">
    <meta name="robots" content="noindex">
</head>
<body>
    <p>Building a surface now lives at <a href="/surfaces/">parachute.computer/surfaces</a>. Redirecting&hellip;</p>
</body>
</html>
