---
permalink: /v2/
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Moved to the homepage &mdash; Parachute</title>
    <meta http-equiv="refresh" content="0; url=/">
    <link rel="canonical" href="https://parachute.computer/">
    <meta name="robots" content="noindex">
</head>
<body>
    <p>The landing-page preview is now the homepage: <a href="/">parachute.computer</a>. Redirecting&hellip;</p>
</body>
</html>
